@using System.Web.UI.WebControls
@using CollegeBuffer.Models
@model HomePage

@{
    Layout = null;
}
<!DOCTYPE html>

<html ng-app='CollegeBuffer'>
<head>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/css/simple-sidebar.css" />
    <link rel="stylesheet" href="/Content/css/Site.css" />

    <!--scripts-->
    <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"> </script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"> </script>
    <script src="/Scripts/bootstrap.min.js" type="text/javascript"> </script>
    @*    <script src="/Scripts/respond.min.js" type="text/javascript"> </script>*@

    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css' />

    <!--link rel="icon" type="image/png" href="/Content/favicon.png" /-->
</head>
<body>
    <script>
        var stop = false;
    </script>



    <div id="page-content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>


    <!--message-->
    <div id="message" class="alert"></div>
    <div id="loading" class="loading"></div>

    <!--user modal-->
    <div id="usermodal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>



    <script>
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });

        function showMessage(className, text) {
            $("#message").addClass(className);
            $("#message").html(text);
            $("#message").fadeToggle(200);
            setTimeout(function () { $("#message").fadeToggle(500); }, 2000);
            setTimeout(function () { $("#message").removeClass(className); }, 2600);
        }

        /* Login&register functions */
        function loginUser(data) {
            //Initialisations
            $("#UserName").css("border-color", "white");
            $("#Password").css("border-color", "white");
            $('#loading').hide();

            if (data == "K") document.location.reload(true);
            else if (data == "F") {
                $("#UserName").css("border-color", "red");
                $("#Password").css("border-color", "red");
                showMessage('alert-danger', 'The username or password is incorrect!');
            }
        }

        function registerUser(data) {
            //Initialisations
            $("#NewUserName").css("border-color", "white");
            $("#NewPassword").css("border-color", "white");
            $("#PasswordAgain").css("border-color", "white");
            $("#EmailAddress").css("border-color", "white");
            $('#loading').hide();

            if (data == "K") document.location.reload(true);
            else if (data == "U") {
                $("#NewUserName").css("border-color", "red");
                showMessage('alert-danger', 'Username between 4-28 chars, starting with letter.');
            } else if (data == "D") {
                $("#NewUserName").css("border-color", "red");
                showMessage('alert-warning', 'This username is already taken!');
            } else if (data == "E") {
                $("#EmailAddress").css("border-color", "red");
                showMessage('alert-danger', 'The email address is not valid!');
            } else if (data == "P") {
                $("#NewPassword").css("border-color", "red");
                showMessage('alert-danger', 'The password must be between 6-28 chars!');
            } else if (data == "M") {
                $("#PasswordAgain").css("border-color", "red");
                showMessage('alert-danger', 'The passwords don\'t match!');
            } else if (data == "F") {
                showMessage('alert-danger', 'The registration failed!');
            }
        }

        /*Ajax load pages*/
        //var initial = 1;

        function go(a, b, c) {
            var page = '/' + a + '/' + b;
            if (c != "")
                page += '/' + c;

            if (document.location.pathname != page)
                history.pushState({ controller: a, method: b, id: c }, b, page);
            setupPage(page);
            event.preventDefault();
        }

        window.onpopstate = function (event) {
            var str = document.location.pathname;
            setupPage(str);
            return false;
        };

        function setupPage(page) {
            $("#loading").show();

            $.ajax({
                url: page,
                data: { asPartial: 1 },
                success: function (response) {
                    $("#loading").hide();
                    $("#contentbody").html(response);
                },
                error: function () {
                    $("#loading").hide();
                    showMessage("alert-danger", "The page failed to load!");
                }
            });
            return false;
        }

        if (location.href.indexOf("#login") > 0)
            showMessage('alert-danger', 'You need to be logged in!');
    </script>

</body>
</html>